<header>
	<h1><a href="{{ get_url(path='') }}">HAZEN TOBAR</a></h1>
	<input type="checkbox" id="menu">
	<label for="menu" onclick id="menu-label"></label>
	<nav role="off-canvas">
		<ul>
			<li>
				<a href="{{ get_url(path='@/recent/_index.md') }}">Recent Projects</a>
			</li>
			<li>
				<a href="{{ get_url(path='@/past/_index.md') }}">Past Projects</a>
			</li>
			<li>
				<a href="https://www.instagram.com/officialhazen/" class="social-logo">
					<img class="social-logo" src="/insta-button.png"></img>
				</a>
			</li>
			<li class="white-bg">
				<a href="https://www.astrobin.com/users/hazenphotos/" class="social-logo">
					<img class="social-logo" src="/segoe-telescope.png"></img>
				</a>
			</li>
		</ul>
	</nav>
</header>
