{% block meta %}
<meta name="description" content="{{ section.description }}">
<title>{{ section.title }}</title>
<link rel="stylesheet" href="/index.css">
{% endblock %}

{% block body %}
{% include "include/header.html" %}

{% for section_string in section.subsections -%}
{% set s = get_section(path=section_string) %}
<section>
	<div class="project-image-collection">
	{% for page in s.pages %}
		{% for asset in page.assets -%}
		{%- if asset is matching("[.](jpg|png)$") -%}
		{% set image = resize_image(path=asset, width=800, height=400) %}
		<a href="{{ page.path }}">
			<img src="{{ image.url }}" />
		</a>
		{%- endif %}
		{%- endfor %}
	{%- endfor %}
	</div>
{{ s.content | safe }}
</section>
{%- endfor %}
{% endblock %}
<hr>
<footer>All photos &#169; Hazen Tobar</footer>
