{% extends "base.html" %}

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="photography,theatre,astrophotography,astro,lunar,theater,akron,ohio">
<title>Hazen Tobar</title>
<link rel="stylesheet" href="/index.css">
<script defer src="/index.js"></script>
{% endblock %}

{% block body %}
<img loading="eager" class="slide background-image" src="{{ config.extra.slide_1_src }}" alt="{{ config.extra.slide_1_alt }}"></img>
<img loading="eager" class="slide nodisplay" src="{{ config.extra.slide_2_src }}" alt="{{ config.extra.slide_2_alt }}"></img>
<img loading="eager" class="slide nodisplay" src="{{ config.extra.slide_3_src }}" alt="{{ config.extra.slide_3_alt }}"></img>
<img loading="eager" class="slide nodisplay" src="{{ config.extra.slide_4_src }}" alt="{{ config.extra.slide_4_alt }}"></img>
{% include "include/header.html" %}
<a class="prev" onclick="nextSlide(-1)">&#10094;</a>
<a class="next" onclick="nextSlide(1)">&#10095;</a>
<div class="image-label">{{ config.extra.slide_1_lbl }}</div>
<div class="image-label nodisplay">{{ config.extra.slide_2_lbl }}</div>
<div class="image-label nodisplay">{{ config.extra.slide_3_lbl }}</div>
<div class="image-label nodisplay">{{ config.extra.slide_4_lbl }}</div>
{% endblock %}
