{% extends "base.html" %}

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="photography,theatre,astrophotography,astro,lunar,theater,akron,ohio">
<title>Hazen Tobar</title>
<link rel="stylesheet" href="/index.css">
<script defer src="/index.js"></script>
{% endblock %}

{% block body %}
<img loading="eager" id="slide-1" class="background-image" src="/recent/the_encounter/1/the-encounter-1.jpg" alt="A photograph from the Encounter"></img>
<img loading="eager" id="slide-2" class="nodisplay" src="/recent/anything_goes/1/anything-goes-1.jpg" alt="A photograph from Anything Goes"></img>
<img loading="eager" id="slide-3" class="nodisplay" src="/recent/matilda/1/matilda-1.jpg" alt="A photograph from Matilda"></img>
<img loading="eager" id="slide-4" class="nodisplay" src="/recent/astro/1/astro-1.jpg" alt="A photograph of the Moon"></img>
{% include "include/header.html" %}
<a class="prev" onclick="nextSlide(-1)">&#10094;</a>
<a class="next" onclick="nextSlide(1)">&#10095;</a>
<div id="image-label">RECENT PROJECT / THE ENCOUNTER: AKRON</div>
{% endblock %}
